<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{data.T}}</title>
<meta name="description" content="{{data.D}}" />
<meta name="keywords" content="{{data.K}}" />
<link type="text/css" href="http://resource.a0bi.com/resource/style/css.css" rel="stylesheet" />
<link href="http://resource.a0bi.com/resource/js/nav/commonNav.css" rel="stylesheet" type="text/css" />
{{#block "topStyle"}}

{{/block}}
<script type="text/javascript" src="http://resource.a0bi.com/resource/js/lib/jquery-min.js"></script>
<script type="text/javascript">
  var g_shareword='{{data.shareWord}}';
  var g_shareimg='{{data.shareImg}}';
  var g_sharelink='{{data.shareLink}}';
</script>
</head>
<body>
  <!--公用导航-->
  <div id="baseNav"></div>
  <div class="mainBg">
  {{#block "mainContent"}}
  默认
  {{/block}}
  </div>
    <script src="http://resource.a0bi.com/resource/js/plugins/sharerenderer.js"></script>
    {{#block "bottomScript"}}
    {{/block}}
    <script type="text/javascript" src="http://dc.100bt.com/js/dc.js"></script>
    <script type="text/javascript" src="http://www.100bt.com/resource/js/lib/bdStatistic.js"></script>
</body>
</html>
